body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
}
ol li{
    list-style-type: none;
    margin-left: 2%;
    display: inline-block;
    margin-top: 50px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 30px;
}
span{
    color: orange;
}
p{
    font-size: 20px;
    margin-bottom: 50px;
}
a{
    text-decoration:  none;
    background-image: linear-gradient(rgb(255, 168, 5),rgb(199, 24, 24));
    border-radius: 25px;
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    }
.container{
    background-image: url(food-network-main/images/food/Project\ Cover8.png);
    height: 120px;
}
.flexible-container{
    display: flex;
    padding: 5%;
}
.Half-width{
    width: 50%;    
}
.Image-top{
    width: 90%;
    padding-left: 90px;
}
.Image-About-my-self{
    width: 66%;
    padding-left: 30px;
    margin-bottom: -63px;
}
.About-my-self{
    background-image: url(food-network-main/images/shapes/7.png);
}
.recipies{
    text-align: center;
    padding: 50px 250px;
    font-size: 40px;
}
.racipies-names{
    width: 30%;
    margin-left: 3%;
    border-radius: 30px;
    box-shadow: 5px 5px 40px gray;
    padding: 5px;
}
.racipies-names-image{
    width: 100%;
    border-radius: 30px;
}
.racipies-names p{
    font-size: 16px;
}
.racipies-names p,h4{
    padding-left: 10px;
}
.icon{
    width: 50%;
    margin-left: 25%;
    box-shadow: 5px 5px 50px gray;
    border-radius: 10px;

}
.Follow-Us h2{
    text-align: center;
}
footer{
    text-align: center;
    background-color: gray;
    width: 90%;
    margin: 6%;
    padding:3% 0 3% 0 ;
}